.input-field {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  position: relative;

  .description {
    align-self: stretch;
    color: #757575;
    font-family: var(--body-base-font-family);
    font-size: var(--body-base-font-size);
    font-style: var(--body-base-font-style);
    font-weight: var(--body-base-font-weight);
    letter-spacing: var(--body-base-letter-spacing);
    line-height: var(--body-base-line-height);
    margin-top: -1.00px;
    position: relative;
  }

  .input {
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d9d9d9;
    border-radius: 8px;
    color: #b3b3b3;
    flex: 1;
    font-family: var(--single-line-body-base-font-family);
    font-size: var(--single-line-body-base-font-size);
    font-style: var(--single-line-body-base-font-style);
    font-weight: var(--single-line-body-base-font-weight);
    letter-spacing: var(--single-line-body-base-letter-spacing);
    line-height: var(--single-line-body-base-line-height);
    margin-bottom: -1.00px;
    margin-left: -1.00px;
    margin-right: -1.00px;
    margin-top: -0.50px;
    min-width: 240px;
    overflow: hidden;
    padding: 12px 16px;
    position: relative;
    width: 100%;
  }
}
